/*.fixe{
	position: fixed;
	bottom: 0px;
	border: 1px solid black;
}*/
.bouton
{
	margin-bottom: 10px;
}

.env{
	min-height: 55px;
}
pre
{
margin-left:5px;
}
.table-bordered
{
	max-height: 400px;
	overflow-x:hidden;
	overflow-y:scroll;
	margin-top: 20px; 
}

.pading{
	padding-top: 20px;
	padding-bottom: 20px;
}
.scrol{
	overflow: hidden;
}
textarea
{
	max-width: 1096px;
	max-height: 55px;
	
	overflow:auto;

}

.alert ,.well{
	padding: 6px;
}
.well
{
	background-color: grey;
	color:white;
}
.pre
{background-color:grey;
	color:white;
}

